@media screen and (max-width: 700px) {
  .container {
    padding: 0 2rem;
  }

  .top {
    flex-direction: column;
    margin: 30px 0 90px 0;
  }

  .features {
    justify-content: center;
  }

  .extensions {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .cards {
    width: 100%;
  }

  .info p {
    margin-top: 5px;
  }
}
