/* reset default style */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button {
  background-color: transparent;
  border: 1px solid gray;
  cursor: pointer;
  display: flex;
}

img {
  display: flex;
}

/* attribution style */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 30px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
